<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <title>Home</title>
</head>
<body>
    <div style="
    display: flex;
    flex-direction:column;
    height: 200px;
    align-items: center;
    background-color:lightcoral;">
    <a href="/angry_birds" style="
    margin: 50px auto;
    font-size: 30px;
    color:white;">Angry Birds</a>
    </div>
</body>
</html>